@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #68eacc 0%, #f6f6f6 100%);
}

.wrapper {
  margin: 120px auto;
  max-width: 500px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  overflow: hidden;
}

.wrapper header {
  font-size: 22px;
  color: #908e90;
  border-bottom: 2px solid #edebed;
  padding: 15px;
}

.wrapper header span {
  float: right;
  cursor: pointer;
}

.wrapper .inputField {
  display: flex;
  height: 55px;
  width: 100%;
  padding: 15px;
  border-bottom: 2px solid #edebed;
}

.inputField input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  color: #7d7b7d;
  font-style: italic;
}

.todoList li input {
  border: none;
  color: #434142;
  padding-left: 10px;
}

.inputField input:focus {
  outline: none;
}

.inputField button {
  background: transparent;
  color: #cdcbcd;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.todoList li {
  list-style: none;
  height: 45px;
  line-height: 45px;
  border-bottom: 2px solid #edebed;
  position: relative;
  padding: 0 20px;
}

.todoList li input:focus {
  outline: none;
}

.todoList li button {
  position: absolute;
  right: 0;
  margin-right: 15px;
  color: #cdcbcd;
}

.wrapper footer {
  height: 45px;
  background: #f6f6f6;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper footer button {
  border: none;
  background: transparent;
  color: #7d7b7d;
  align-self: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.completed input[type='text'] {
  text-decoration: line-through;
  opacity: 0.5;
}

.trash-btn {
  background: transparent;
  border: none;
  height: 45px;
  cursor: pointer;
}

.fa-trash-alt,
.fa-check {
  pointer-events: none;
}
